body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.barre{
    display: flex;
    
}
.sidbar{
    width: 250px;
    height: 140vh;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
.sidbar a{
    display: block;
    color: whitesmoke;
    margin: 50px 0;
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
}
.sidbar a:hover{
    background-color: red;
    padding-left: 5px;
}
.contenue{
    flex: 1;
    margin: 0;
    padding: 0;
}
.sidbar h3{
    font-weight: 900;
    font-size: 35px;
    margin-left: 10px;
    color: whitesmoke;
}
.contenue h1{
    color: black;
    justify-content: center;
    text-align: center;
}
.header{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
}
.sta{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 10px;
}
.dia{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: whitesmoke;
    gap: 5px;
}
.ba{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}