body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.barre{
    display: flex;
    
}
.sidbar{
    width: 250px;
    height: 120vh;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
.sidbar a{
    display: block;
    color: whitesmoke;
    margin: 50px 0;
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
}
.sidbar a:hover{
    background-color: red;
    padding-left: 5px;
}
.contenue{
    flex: 1;
    margin: 0;
    padding: 0;
}
.sidbar h3{
    font-weight: 900;
    font-size: 35px;
    margin-left: 10px;
    color: whitesmoke;
}
.contenue h1{
    color: black;
    justify-content: center;
    text-align: center;
}
.header{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
}
.table{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    color: white;
    margin-left: 20px;

}
.ta{
    background-color: black;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 15px;
}
.ta h1{
    color: whitesmoke;
}
.ta:hover{
    transform: scale(1);
}
.utilisateur {
    display: grid;
    background-color: whitesmoke;
    gap:5Px;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
    width: 100%;
    border-radius:15px;
    color:black;
    margin-top:2%;
    margin-left: 10px;
   
}
.nom{
display: flex;
justify-content: center;
align-items: center;
 background-color: black;
}
.nom ul{
     display: flex;
    justify-content: center;
    gap:100%;
    font-size:20px;
    list-style: none;
    margin-right:35%;
    color: whitesmoke;
      
}
.p1{
    display: flex;
justify-content: center;
align-items:center;
gap: 50%;
}
.p1 ul{
  display: flex;
    justify-content: center;
    gap:50%;
    font-size:15px;
    list-style: none;
    margin-right:20%;
}
.p2{
 display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: black;
 color: white;
}
.p2 ul{
     display: flex;
    justify-content: center;
    gap:65%;
    font-size:15px;
    list-style: none;
     margin-right:15%;
}
.p3{
    display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: whitesmoke;
 color: black;
}
.p3 ul{
 display: flex;
    justify-content: center;
    gap:45%;
    font-size:15px;
    list-style: none;
      margin-right:17%;
}
.sta{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 10px;
}
