body{
    margin: 0;
    padding: 0;
}
.barre{
    display: flex;
    
}
.sidbar{
    width: 250px;
    height: 100vh;
    background-color: #011C40;
    color: whitesmoke;
    padding: 20px;
}
.sidbar a{
    display: block;
    color: whitesmoke;
    margin: 50px 0;
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
}
.sidbar a:hover{
    background-color: black;
    padding-left: 5px;
}
.contenue{
    flex: 1;
    padding: 20px;
}
.sidbar h3{
    font-weight: 900;
    font-size: 35px;
    margin-left: 10px;
    color: whitesmoke;
}