body{
    margin: 0;
    padding: 0;
}
.barre{
    display: flex;
    
}
.sidbar{
    width: 250px;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
.sidbar a{
    display: block;
    color: whitesmoke;
    margin: 50px 0;
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
}
.sidbar a:hover{
    background-color: whitesmoke;
    padding-left: 5px;
    color: black;
}
.contenue{
    flex: 1;
    padding: 20px;
}
.sidbar h3{
    font-weight: 900;
    font-size: 35px;
    margin-left: 10px;
    color: whitesmoke;
}
header{
    background-color: black;
    background-size: cover;
}
.moov{
    margin-right:65%;
     width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30%;
    background-color:black;
    position: fixed;
    top: 0;
}
.utilisateur{
    display: grid;
    background-color: whitesmoke;
    gap:5Px;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
    width:80%;
    border-radius:15px;
    color:black;
    margin-right:15%;
}
.enGROS{
display: flex;
justify-content: center;

}
.notif{
    display: flex;
    justify-content: center;
    gap:56%;
}
.use{
     margin-top:5%;
    width: 100%;
    border-radius:15px;
    color:black;
    margin-top:2%;
   
}
.nom{
display: flex;
justify-content: center;
align-items: center;
 background-color:#023859;
 background-color: black;
}
.nom ul{
     display: flex;
    justify-content: center;
    gap:100%;
    font-size:20px;
    list-style: none;
    margin-right:35%;
    color: whitesmoke;
      
}
.p1{
    display: flex;
justify-content: center;
align-items:center;
gap: 50%;
}
.p1 ul{
  display: flex;
    justify-content: center;
    gap:50%;
    font-size:15px;
    list-style: none;
    margin-right:20%;
}
.p2{
 display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: black;
 color: white;
}
.p2 ul{
     display: flex;
    justify-content: center;
    gap:65%;
    font-size:15px;
    list-style: none;
     margin-right:15%;
}
.p3{
    display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: whitesmoke;
 color: black;
}
.p3 ul{
 display: flex;
    justify-content: center;
    gap:45%;
    font-size:15px;
    list-style: none;
      margin-right:17%;
}
.p4{
  display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: black;
 color: white;
}
.p4 ul{
 display: flex;
    justify-content: center;
    gap:57%;
    font-size:15px;
    list-style: none;
    margin-right:15%;
}
.p5{
  display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: white;
 color: black;
}
.p5 ul{
 display: flex;
    justify-content: center;
    gap:60%;
    font-size:15px;
    list-style: none;
      margin-right:15%;
}
.p6{
 display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: black;
 color: white;
}
.p6 ul{
 display: flex;
    justify-content: center;
    gap:75%;
    font-size:15px;
    list-style:none;
      margin-right:20%;
}
.p7{

 display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: white;
 color: black;
}
.p7 ul{
 display: flex;
    justify-content: center;
    gap:65%;
    font-size:15px;
    list-style: none;
      margin-right:19%;
}
.p8{

 display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: white;
 color: black;
}
.p8 ul{
 display: flex;
    justify-content: center;
    gap:65%;
    font-size:15px;
    list-style: none;
      margin-right:19%;
}
.p9{

 display: flex;
justify-content: center;
align-items:center;
gap: 50%;
 background-color: white;
 color: black;
}
.p9 ul{
 display: flex;
    justify-content: center;
    gap:65%;
    font-size:15px;
    list-style: none;
      margin-right:19%;
}
.droite{
    background-color: whitesmoke;
    gap:5Px;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
    border-radius:15px;
    color:black;
    width: 500px;
    margin-top:15%;
}
.parie1 img{
    width:200px;
    height: 150px;;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
}
.align img{
      border-radius:5%;
      transition:0.3s;
}
.align img:hover{
    transform: scale(1.1);
}
.align2 img{
    width: 400px;
    margin-left:10%;
    height: 200px;
    border-radius: 5%;
    transition:0.3s;
}
.align2 img:hover{
    transform: scale(1.1);
}
.button1 button{
    width:400px;
    height: 50px;
    background-color: black;
    color: white;
    font-size:26px;
    margin-left:10%;
    border-radius:15%;
}
.button2{
display: flex;
justify-content: center;
gap:15px;
}
.button1 button:hover{
    background-color:white;
    color:black;
}
.button2 button{
    width: 150px;
     height: 40px; 
     background-color: black;
     color: white; 
     font-size:20px;
      border-radius:15%;
}
.button2 button:hover{
    background-color:white;
    color:black;
}
.dernier img{
    width:400px;
    height: 150px;
    border-radius:5%;
}